

#inputArea {
	flex-direction:row;
	background-color: #343640;
}

#prompt_field {
	flex-grow:1;
}


#ChatBubble_User {

	width: 100%;
	white-space:normal;

	background-color: #343640;
}



#ChatBubble_Assistant {

	width:100%;

	white-space:normal;

	background-color: #444654;

}

#ChatBubble_User :hover :active :checked :focus {
background-color: #343640;
}

#ChatBubble_Assistant :hover :active :checked :focus {
	background-color: #444654;
}


#chats_container{
	background-color: #202123;
}