
#root_user {
	width:100%;

	background-color: #343640;

	padding: 10px;

}
#root_assistant {
	/*width:600px;*/
	width:100%;

	background-color: #444654;


	padding: 10px;
}


#label{
	white-space:normal;
}

